* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0px auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.row img {
  backface-visibility: hidden;
}
